body{
    margin:0;
    scroll-behavior: smooth;
}
.col-1 {width: 8.33%; background-color: brown;}
.col-2 {width: 16.66%; background-color: aqua;}
.col-3 {width: 20%;  }
.col-4 {width: 33.33%; }
.col-5 {width: 41.66%; }
.col-6 {width: 50%; }
.col-7 {width: 58.33%; }
.col-8 {width: 66.66%;  }
.col-9 {width: 75%; }
.col-10 {width: 83.33%;  background-color: red;}
.col-11 {width: 91.66%; }
.col-12 {width: 100%; background-color: red; overflow: hidden;}
[class*="col-"] {
    float: left;
    padding: 15px;
  }
  * {
      box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}
.row{
    margin-left: 30px;
    margin-top: 100px;
    width: 100%;
  
   float:left;
   
}
.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    z-index: 4;
    margin-top: 585px;
    position:fixed;
    width: 100%;
    height: 70px;
    background-color: white;
}
.image1{
   
    width:50px;
    height:50px;
    position: fixed;
    z-index: 3;
}
 .image2{
     float: left;
     width:18px;
    height:18px;
    
}
.image2_content{
    overflow: hidden;
    background-color: yellow;
    margin-top: 70px;
    margin-left: 12px;
    position: absolute;
    z-index: 3;
    height: 60px;
    width: 50px;
    
}
.image3{
    float: left;
    width:18px;
    height:18px; 
}
.image3_content{
    height: 60px;
    width: 50px;
    overflow: hidden;
   
    position: absolute;

    z-index: 3;
    margin-top: 135px;
    margin-left: 12px;
}
.image4{
    float: left;
    width:18px;
    height:18px;
}
.image4_content{
    height: 60px;
    width: 50px;
    overflow: hidden;
    
    position: absolute;
 
    z-index: 3;
    margin-top: 200px;
    margin-left: 12px;
}
.image5{
    float: left;
    width:18px;
    height:18px;
} 
.image5_content{
    background-color: aqua;
    height: 60px;
    width: 50px;
    overflow: hidden;
  
    position: absolute;

    z-index: 3;
    margin-top: 265px;
    margin-left: 12px;
}
.youtube{
    margin-top: 15px;
    margin-left: 75px;
    width:65px;
    height:20px;
    position: fixed;
    z-index: 3;
}
.voice{
    margin-top: 15px;
    margin-left: 1030px;
    width:20px;
    height:20px;
    position: fixed;
    z-index: 3;
}

.notification{
    margin-top: 15px;
    margin-left: 1440px;
    width:20px;
    height:20px;
    position: fixed;
    z-index: 3;
}
.account{
      margin-top: 10px;
    margin-left: 1477px;
    border-radius: 20px;
    width:30px;
    height:30px;
    position: fixed;
    z-index: 2;
}
.top{
    width:100%;
    height:100px;
    background-color: white;
    position:fixed;
    margin: 0;
    z-index: 2;
}
.search{
    border: 0.3px solid black;
    border-radius: 15px;
    width:460px;
    height:25px;
  
    background-color: rgb(91, 216, 69);
    margin-left: 550px;
    margin-top: 10px;
 
}
.submenu{
    border: 1px solid yellow;
    background-color: rgb(207, 155, 155);
    padding: 4px;
    border-radius: 10px;
}
.main{
    
    position: relative;
    display: flex;
    flex-direction: row;
    background-color:violet;
    
}
.menu{
    position: fixed;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:50px;
    height:700px;
    background-color: rgb(183, 58, 139);
    z-index: 2;
}
.frequents{

    width: 100%;
 display: flex;
 flex-direction: row;
 margin-left: 60px;
 margin-right: 80px;
 margin-top: 35px;
 position: fixed;
 overflow: scroll;
 scroll-behavior: smooth;
}
.frequents::-webkit-scrollbar {
    display: none;
  }
  h4{
    
   margin-left: 30px;
   
}
.inner{
    background-color:rgb(184, 206, 184);
    width: 1450px;
    height: 650px;
    margin-top: 100px;
    margin-left:60px;
    position:absolute;
    flex: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    
}
.block{
    
    margin: 12px;
    overflow: hidden;
    width:266px;
    height: 230px;
    background-color: rgb(111, 111, 182);
    position: relative;
    border-radius: 13px;
    margin-bottom: 20px;
    
}
.logo{
    position: absolute;
    margin-top: 155px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.video{
    border-radius: 15px;
    position: absolute;
    width: 268px;
    height: 150px;
    z-index: 0;
}
.content{
    position: absolute;
    margin-top: 155px;
    margin-left: 40px;
}
.cover{
    position: relative;
}
.channelname{
    position: absolute;
    margin-top: 185px;
    margin-left: 40px;
    font-size: 12px;
}
.dot{
    
    margin-top: 204px;
    margin-left: 90px;
}
.move{
    margin-left: 7px;
}

.time{
    font-size: 10px;
    border: 2px solid black;
    color: white;
    position: absolute;
    z-index: 1;
    margin-left: 235px;
    margin-top: 132px;
    background-color: black;
}
.upper{
    display: flex;
    flex-direction: row;
    height: 10px;
    z-index: 3;
    position: fixed;
}

    @media only screen and (max-width: 768px) {
      [class*="col-"] {
        width: 100%;
      }
       
      .row{
          margin-left: 0;
      }
      .menu{
          display: none;
      } 
    .image1{
      visibility: hidden;
    }
    .image2_content{
      visibility: hidden;
    }
    .image3_content{
      visibility: hidden;
    }
    .image4_content{
      visibility: hidden;
    }
    .image5_content{
      visibility: hidden;
    }
       [class*="col-"]  .video{
          border-radius: 15px;
          position: absolute;
          width: 340px;
          height: 150px;
          z-index: 0;
      }
      .footer{
        visibility: visible;
      }
      .frequents {
        margin-left: 0;
      }
      .youtube{
        margin-left: 20px;
      }
    }